<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons  end>
      <button ion-button icon-only color="royal" (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor='let user of users | async ' (click)="showMessages(user.id)" [navPush]='messagePage' [navParams]='user.id'>
      <ion-icon name="radio-button-off" *ngIf="!user.isPresence"></ion-icon>
      <ion-icon name="radio-button-on" *ngIf="user.isPresence"></ion-icon>
      {{user.name}}
    </button>
  </ion-list>

</ion-content>